build
dist
__pycache__
*.egg-info
# retarget_motion/*.txt
retarget_motion/questions.md
retarget_motion/data/debug.*
.vscode
notes.*
motion_imitation/data/policies
motion_imitation/data/rollout
figures/